
body {
--color1: hsla(224, 10%, 21%, 1);
--color2: hsla(295, 17%, 41%, 1);
--color3: hsla(303, 39%, 62%, 1);
--color4: hsla(330, 55%, 75%, 1);
--color5: hsla(350, 35%, 80%, 1);
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    background-color: var(--color5);
    width: 250px;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px var(--color1);
    margin-top: 5px;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
    color: var(--color4);
    background-color: var(--color1);
    font-family:Verdana, Geneva, Tahoma,sans-serif;
    padding-top: 20px;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
    padding: 0px 10px 0px 0px;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color3);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color2);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.calculator {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.results {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: dotted 2px var(--color2);
    margin: 5px;
    background-color: cornsilk;
    font-size: 100%;
    height: 30px;
    width: 1fr;
    text-align: center;
    justify-content: center;
    padding: 5px;
    color: purple;
    font-weight: bolder;
}